.mainFlexLayout {
	display: flex;
	height: 100vh;
	width: 100%;
}

.leftSidebar {
	flex: 0.15;
	border-right: 1px solid rgba(211, 211, 211, 0.118);
	padding: 3rem 2rem;
}

.rightContent {
	flex: 0.85;
}
